<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Blog</title>
        <link rel="stylesheet" href="styles/style.css" />
    </head>
    <body>
        <header>
            <div>
                <img class="header-img" src="assets/images/Venom.jpg" />
            </div>
        </header>
        <nav>
            <div>
                <a href="/">Home</a>
                <a href="/create">New</a>
            </div>
        </nav>