html {
    background-color: black;
}

img {
    border: 5px solid white;
    width: 100%;
}

h1 {
    text-transform: uppercase;
}

.poster {
    margin: 10% 25%;
    color: white; /* Inherited property */
    text-align: center; /* Inherited property */
}

.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
